<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/employee_tracker</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.DelegationOfDutyEntity"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.DelegationOfDutyTask"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskEntity"/>
      <mapping class="com.employeetracker.EmployeeTrackerAPI.models.EmployeeEntity"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.UserEntity"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.EmployeeUser"/>
      <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskEmployee"/>
      <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskDelegationOfDuty"/>
      <mapping class="com.employeetracker.EmployeeTrackerAPI.models.NextOfKinEntity"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.NextOfKinEmployee"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.SpouseDetailsEntity"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.SpouseEmployee"/>
      <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskRequestDuty"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskRequestEmployee"/>
    <mapping class="com.employeetracker.EmployeeTrackerAPI.models.TaskRequests"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>